name: Publish to PyPI

on:
  release:
    types: [published]

permissions:
  id-token: write

jobs:
  publish:
    runs-on: ubuntu-latest
    environment: pypi
    steps:
      - uses: actions/checkout@v4

      - uses: astral-sh/setup-uv@v5

      - run: uv build

      - uses: astral-sh/setup-uv@v5
        with:
          enable-cache: false

      - run: uv publish --trusted-publishing always
